
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được gửi, chúng tôi sẽ liên hệ bạn sau, xin cảm ơn</h2>
@Html.ActionLink("VỀ TRANG CHỦ", "Index", "BookStore")
